::-webkit-input-placeholder { 
  color: #777;
  text-align: center;
}
#main article.scrobbler_form input {
  width: 100%;
  padding: 10px 0;
  font-size: 21px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 0 1px #aaa;
  margin-top: 1px;
}
#main article.scrobbler_form input:hover {
  background-color: azure;
}
#main article.scrobbler_form input:focus {
  background-color: azure;
  box-shadow: 0 0 0 1px darkgreen;
}

#main article.scrobbler > *:not(h2) {
  display: table-cell;
  vertical-align: top;
  width: 50%;
  padding: 20px;
}
#main article.scrobbler img {
  min-width: 300px;
  border-radius: 100%;
}
#main article.scrobbler table td:first-child {
  text-align: right;
  width: 80px;
  border-right: 1px solid #aaa;
  font-weight: bold;
}

@media only screen and (max-width: 740px) {

  #main article.scrobbler > table {
    display: table;
    width: 94%;
    padding: 0;
  }
  #main article.scrobbler > img {
    display: inherit;
    width: inherit;
  }

}